GLOBALTuesdayTechTips_1_0_0_1_managed/Workflows/EUROPE-TTTTracker-Iconupdate-D6B96E4C-73B0-EE11-A568-000D3ABEE5DB.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedsharepointonline_c31a2"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_an_item_is_created_or_modified": {
          "recurrence": {
            "interval": 1,
            "frequency": "Minute"
          },
          "splitOn": "@triggerOutputs()?['body/value']",
          "metadata": {
            "operationMetadataId": "a7e5046f-98c9-4e80-bd98-c158c09b6cdf"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "GetOnUpdatedItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "https://loreal-my.sharepoint.com/personal/javier_ruidiaz_loreal_com/",
              "table": "d9935f93-41d0-4584-8e4d-3dda001ac4e9"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_items": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "ed627475-976d-4914-b8cf-9a92d3037165"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "GetItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "https://loreal-my.sharepoint.com/personal/javier_ruidiaz_loreal_com/",
              "table": "46289495-f066-4db1-a64f-2faa1bf4733c"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Filter_array": {
          "runAfter": {
            "Get_items": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "51190b4c-fb98-49ee-bd09-cb1715863daf"
          },
          "type": "Query",
          "inputs": {
            "from": "@outputs('Get_items')?['body/value']",
            "where": "@equals(item()?['Title'], triggerOutputs()?['body/Product/Value'])"
          }
        },
        "Update_item": {
          "runAfter": {
            "Filter_array": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b91df48d-90f7-4c86-a545-ae4defe98ffd"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "PatchItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "https://loreal-my.sharepoint.com/personal/javier_ruidiaz_loreal_com/",
              "table": "d9935f93-41d0-4584-8e4d-3dda001ac4e9",
              "id": "@triggerOutputs()?['body/ID']"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}